In [1]:
import pandas as pd
import nfl_team_scraper

In [2]:
teams = pd.read_csv("resources/nfl_teams.csv")
teams.head()

   team_id          team_name
0        1  Arizona Cardinals
1        2    Atlanta Falcons
2        3   Baltimore Ravens
3        4      Buffalo Bills
4        5  Carolina Panthers

In [3]:
for team in teams.team_name:
    nfl_team_scraper.scraper(team)