In [1]:
import pandas as pd 
from sqlalchemy import create_engine
from passwords import sql_password

In [2]:
ranks_df = pd.read_csv('resources/rankings.csv')
ranks_df.head()
ranks_df.sort_values('team', inplace=True)
ranks_df.drop(columns = 'team', inplace=True)
ranks_df.index += 1
ranks_df.rename_axis("team_id", axis=0, inplace=True)
ranks_df.reset_index(level=0, inplace=True)
ranks_df['ranking'] = ranks_df['rank']
ranks_df = ranks_df[['team_id','ranking','record']]

In [3]:
rds_connection_string = f"postgres:{sql_password}@localhost:5432/nfl_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [4]:
engine.table_names()

['all_stats',
 'allowed_all_stats',
 'teams',
 'pro_fb_net_rankings',
 'nfl_stats_rankings']

In [5]:
ranks_df.to_sql(name='pro_fb_net_rankings', con=engine, if_exists='append',index=False)

In [6]:
pd.read_sql_query('select * from pro_fb_net_rankings',con=engine).head()

   team_id  ranking  record
0        1       15   (8-8)
1        2       24  (4-12)
2        3        4  (11-5)
3        4        2  (13-3)
4        5       28  (5-11)