In [1]:
import pandas as pd 
from sqlalchemy import create_engine
from passwords import sql_password

In [2]:
ranks_df = pd.read_csv('resources/rankings.csv')
ranks_df.head()
ranks_df.sort_values('team', inplace=True)
ranks_df.drop(columns = 'team', inplace=True)
ranks_df.index += 1
ranks_df.rename_axis("team_id", axis=0, inplace=True)
ranks_df.reset_index(level=0, inplace=True)
ranks_df['ranking'] = ranks_df['rank']
ranks_df = ranks_df[['team_id','ranking','record']]

    team_id  rank    record
0         1    15     (8-8)
1         2    24    (4-12)
2         3     4    (11-5)
3         4     2    (13-3)
4         5    28    (5-11)
5         6    13     (8-8)
6         7    31  (4-11-1)
7         8    12    (11-5)
8         9    21    (6-10)
9        10    25    (5-11)
10       11    30    (5-11)
11       12     3    (13-3)
12       13    27    (4-12)
13       14    11    (11-5)
14       15    32    (1-15)
15       16     1    (14-2)
16       17    17     (8-8)
17       18    16     (7-9)
18       19     9    (10-6)
19       20    14    (10-6)
20       21    18     (7-9)
21       22    23     (7-9)
22       23     5    (12-4)
23       24    20    (6-10)
24       25    29    (2-14)
25       26    26  (4-10-1)
26       27     7    (12-4)
27       28    22    (6-10)
28       29     8    (12-4)
29       30     6    (11-5)
30       31    10    (11-5)
31       32    19     (7-9)

In [3]:
rds_connection_string = f"postgres:{sql_password}@localhost:5432/nfl_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [4]:
engine.table_names()

['all_stats', 'allowed_all_stats', 'teams', 'rankings']

In [5]:
ranks_df.to_sql(name='rankings', con=engine, if_exists='append',index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "rank" of relation "rankings" does not exist
LINE 1: INSERT INTO rankings (team_id, rank, record) VALUES (1, 15, ...
                                       ^

[SQL: INSERT INTO rankings (team_id, rank, record) VALUES (%(team_id)s, %(rank)s, %(record)s)]
[parameters: ({'team_id': 1, 'rank': 15, 'record': '(8-8)'}, {'team_id': 2, 'rank': 24, 'record': '(4-12)'}, {'team_id': 3, 'rank': 4, 'record': '(11-5)'}, {'team_id': 4, 'rank': 2, 'record': '(13-3)'}, {'team_id': 5, 'rank': 28, 'record': '(5-11)'}, {'team_id': 6, 'rank': 13, 'record': '(8-8)'}, {'team_id': 7, 'rank': 31, 'record': '(4-11-1)'}, {'team_id': 8, 'rank': 12, 'record': '(11-5)'}  ... displaying 10 of 32 total bound parameter sets ...  {'team_id': 31, 'rank': 10, 'record': '(11-5)'}, {'team_id': 32, 'rank': 19, 'record': '(7-9)'})]
(Background on this error at: http://sqlalche.me/e/13/f405)