In [1]:
import pandas as pd 
from sqlalchemy import create_engine
from passwords import sql_password

In [2]:
rds_connection_string = f"postgres:{sql_password}@localhost:5432/nfl_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [3]:
home_stats_df = pd.read_sql_query('select * from all_stats', con=engine)
home_stats_df.head()

,team_id,total_first_downs,first_downs_rush_pass_penalty,third_down_conversions,fourth_down_conversions,total_offensive,offense_plays_avg,total_rushing,rushing_plays_avg,total_passing,passing_comp_att_int_avg,sacks,field_goals,touchdowns,touchdowns_rush_pass_returns_def,avg_possesion,turnover_ratio
0,1,381,136 - 211 - 34,80 / 202,17 / 25,6153,1083 - 5.7,2237,479 - 4.7,3916,387 - 575 - 13 - 7.1,48,23 / 30,49,22 - 27 - 0 - 0,29:03,0
1,2,366,86 - 243 - 37,97 / 221,15 / 26,5895,1078 - 5.5,1532,409 - 3.7,4363,408 - 628 - 11 - 7.4,29,38 / 40,41,13 - 27 - 0 - 1,30:41,3
2,3,327,166 - 142 - 19,101 / 207,12 / 19,5810,993 - 5.9,3071,555 - 5.5,2739,257 - 406 - 11 - 7.2,39,26 / 29,55,24 - 27 - 1 - 3,31:30,4
3,4,397,119 - 240 - 38,93 / 187,8 / 10,6343,1034 - 6.1,1723,411 - 4.2,4620,410 - 596 - 11 - 8.0,38,28 / 34,60,16 - 40 - 1 - 3,31:45,4
4,5,335,110 - 192 - 33,76 / 195,15 / 27,5592,993 - 5.6,1704,407 - 4.2,3888,373 - 550 - 16 - 7.5,29,29 / 36,38,19 - 16 - 0 - 3,30:59,1

In [4]:
working_df = home_stats_df
working_df['ranking_points'] = 0
columns = working_df.columns.to_list()
columns.remove('first_downs_rush_pass_penalty')
columns.remove('offense_plays_avg')
columns.remove('rushing_plays_avg')
columns.remove('passing_comp_att_int_avg')
columns.remove('touchdowns_rush_pass_returns_def')
columns.remove('ranking_points')

columns

['team_id',
 'total_first_downs',
 'third_down_conversions',
 'fourth_down_conversions',
 'total_offensive',
 'total_rushing',
 'total_passing',
 'sacks',
 'field_goals',
 'touchdowns',
 'avg_possesion',
 'turnover_ratio']

In [5]:
working_df = home_stats_df
third_down_pct = working_df['third_down_conversions'].to_list()
for item in third_down_pct:
    new_item = item.replace(' ','')
    new_item = new_item.split('/')
    third_down_pct[third_down_pct.index(item)] = float(new_item[0])/float(new_item[1])
third_down_pct
working_df['third_down_conversions'] = third_down_pct
working_df.head()

,team_id,total_first_downs,first_downs_rush_pass_penalty,third_down_conversions,fourth_down_conversions,total_offensive,offense_plays_avg,total_rushing,rushing_plays_avg,total_passing,passing_comp_att_int_avg,sacks,field_goals,touchdowns,touchdowns_rush_pass_returns_def,avg_possesion,turnover_ratio,ranking_points
0,1,381,136 - 211 - 34,0.396040,17 / 25,6153,1083 - 5.7,2237,479 - 4.7,3916,387 - 575 - 13 - 7.1,48,23 / 30,49,22 - 27 - 0 - 0,29:03,0,0
1,2,366,86 - 243 - 37,0.438914,15 / 26,5895,1078 - 5.5,1532,409 - 3.7,4363,408 - 628 - 11 - 7.4,29,38 / 40,41,13 - 27 - 0 - 1,30:41,3,0
2,3,327,166 - 142 - 19,0.487923,12 / 19,5810,993 - 5.9,3071,555 - 5.5,2739,257 - 406 - 11 - 7.2,39,26 / 29,55,24 - 27 - 1 - 3,31:30,4,0
3,4,397,119 - 240 - 38,0.497326,8 / 10,6343,1034 - 6.1,1723,411 - 4.2,4620,410 - 596 - 11 - 8.0,38,28 / 34,60,16 - 40 - 1 - 3,31:45,4,0
4,5,335,110 - 192 - 33,0.389744,15 / 27,5592,993 - 5.6,1704,407 - 4.2,3888,373 - 550 - 16 - 7.5,29,29 / 36,38,19 - 16 - 0 - 3,30:59,1,0

In [6]:
working_df = home_stats_df
fourth_down_pct = working_df['fourth_down_conversions'].to_list()
for item in fourth_down_pct:
    new_item = item.replace(' ','')
    new_item = new_item.split('/')
    fourth_down_pct[fourth_down_pct.index(item)] = float(new_item[0])/float(new_item[1])
fourth_down_pct
working_df['fourth_down_conversions'] = fourth_down_pct
working_df.head()

,team_id,total_first_downs,first_downs_rush_pass_penalty,third_down_conversions,fourth_down_conversions,total_offensive,offense_plays_avg,total_rushing,rushing_plays_avg,total_passing,passing_comp_att_int_avg,sacks,field_goals,touchdowns,touchdowns_rush_pass_returns_def,avg_possesion,turnover_ratio,ranking_points
0,1,381,136 - 211 - 34,0.396040,0.680000,6153,1083 - 5.7,2237,479 - 4.7,3916,387 - 575 - 13 - 7.1,48,23 / 30,49,22 - 27 - 0 - 0,29:03,0,0
1,2,366,86 - 243 - 37,0.438914,0.576923,5895,1078 - 5.5,1532,409 - 3.7,4363,408 - 628 - 11 - 7.4,29,38 / 40,41,13 - 27 - 0 - 1,30:41,3,0
2,3,327,166 - 142 - 19,0.487923,0.631579,5810,993 - 5.9,3071,555 - 5.5,2739,257 - 406 - 11 - 7.2,39,26 / 29,55,24 - 27 - 1 - 3,31:30,4,0
3,4,397,119 - 240 - 38,0.497326,0.800000,6343,1034 - 6.1,1723,411 - 4.2,4620,410 - 596 - 11 - 8.0,38,28 / 34,60,16 - 40 - 1 - 3,31:45,4,0
4,5,335,110 - 192 - 33,0.389744,0.555556,5592,993 - 5.6,1704,407 - 4.2,3888,373 - 550 - 16 - 7.5,29,29 / 36,38,19 - 16 - 0 - 3,30:59,1,0

In [7]:
for column in columns:
    working_df = working_df.sort_values(by=column)
    working_df = working_df.reset_index(drop=True)
    working_df['ranking_points'] = working_df['ranking_points'] + working_df.index

In [8]:
working_df.head()

,team_id,total_first_downs,first_downs_rush_pass_penalty,third_down_conversions,fourth_down_conversions,total_offensive,offense_plays_avg,total_rushing,rushing_plays_avg,total_passing,passing_comp_att_int_avg,sacks,field_goals,touchdowns,touchdowns_rush_pass_returns_def,avg_possesion,turnover_ratio,ranking_points
0,21,383,139 - 212 - 32,0.408840,0.565217,6292,1023 - 6.2,2283,468 - 4.9,4009,349 - 516 - 13 - 8.3,23,15 / 22,55,20 - 35 - 0 - 0,30:02,-1,194
1,26,336,114 - 177 - 45,0.372727,0.428571,5354,1066 - 5.0,2027,403 - 5.0,3327,334 - 598 - 20 - 6.2,49,14 / 19,42,16 - 22 - 1 - 3,29:15,-10,134
2,28,350,101 - 217 - 32,0.390863,0.400000,5922,1046 - 5.7,1889,437 - 4.3,4033,371 - 570 - 17 - 7.6,30,22 / 26,45,19 - 25 - 0 - 1,31:23,-11,169
3,17,359,121 - 206 - 32,0.459596,0.761905,6133,1036 - 5.9,1916,457 - 4.2,4217,369 - 551 - 10 - 8.0,21,33 / 35,48,20 - 28 - 0 - 0,31:04,-11,231
4,10,308,94 - 176 - 38,0.386792,0.266667,5369,1030 - 5.2,1918,442 - 4.3,3451,317 - 556 - 23 - 6.6,42,28 / 35,35,13 - 21 - 1 - 0,28:58,-16,113

In [9]:
working_df = working_df.sort_values(by='ranking_points',ascending=False)
working_df = working_df.reset_index(drop=True)
working_df['ranking'] = working_df.index + 1
working_df = working_df.sort_values(by='team_id')
working_df = working_df.reset_index(drop=True)
home_stats_df['ranking'] = working_df['ranking']

In [10]:
working_df.head()

,team_id,total_first_downs,first_downs_rush_pass_penalty,third_down_conversions,fourth_down_conversions,total_offensive,offense_plays_avg,total_rushing,rushing_plays_avg,total_passing,passing_comp_att_int_avg,sacks,field_goals,touchdowns,touchdowns_rush_pass_returns_def,avg_possesion,turnover_ratio,ranking_points,ranking
0,1,381,136 - 211 - 34,0.396040,0.680000,6153,1083 - 5.7,2237,479 - 4.7,3916,387 - 575 - 13 - 7.1,48,23 / 30,49,22 - 27 - 0 - 0,29:03,0,213,12
1,2,366,86 - 243 - 37,0.438914,0.576923,5895,1078 - 5.5,1532,409 - 3.7,4363,408 - 628 - 11 - 7.4,29,38 / 40,41,13 - 27 - 0 - 1,30:41,3,197,15
2,3,327,166 - 142 - 19,0.487923,0.631579,5810,993 - 5.9,3071,555 - 5.5,2739,257 - 406 - 11 - 7.2,39,26 / 29,55,24 - 27 - 1 - 3,31:30,4,213,13
3,4,397,119 - 240 - 38,0.497326,0.800000,6343,1034 - 6.1,1723,411 - 4.2,4620,410 - 596 - 11 - 8.0,38,28 / 34,60,16 - 40 - 1 - 3,31:45,4,283,1
4,5,335,110 - 192 - 33,0.389744,0.555556,5592,993 - 5.6,1704,407 - 4.2,3888,373 - 550 - 16 - 7.5,29,29 / 36,38,19 - 16 - 0 - 3,30:59,1,144,23

In [11]:
home_stats_df.sort_values(by='ranking').head()

,team_id,total_first_downs,first_downs_rush_pass_penalty,third_down_conversions,fourth_down_conversions,total_offensive,offense_plays_avg,total_rushing,rushing_plays_avg,total_passing,passing_comp_att_int_avg,sacks,field_goals,touchdowns,touchdowns_rush_pass_returns_def,avg_possesion,turnover_ratio,ranking_points,ranking
3,4,397,119 - 240 - 38,0.497326,0.800000,6343,1034 - 6.1,1723,411 - 4.2,4620,410 - 596 - 11 - 8.0,38,28 / 34,60,16 - 40 - 1 - 3,31:45,4,0,1
22,23,367,147 - 199 - 21,0.447115,0.687500,6023,1045 - 5.8,2265,494 - 4.6,3758,370 - 522 - 8 - 7.6,45,23 / 28,59,30 - 28 - 0 - 1,32:10,9,0,2
11,12,358,114 - 216 - 28,0.494444,0.619048,6224,990 - 6.3,2118,443 - 4.8,4106,372 - 526 - 5 - 8.2,41,16 / 16,66,16 - 48 - 0 - 2,32:34,7,0,3
15,16,397,110 - 255 - 32,0.489691,0.562500,6653,1057 - 6.3,1799,403 - 4.5,4854,420 - 630 - 7 - 7.9,32,25 / 27,57,13 - 40 - 2 - 2,30:31,6,0,4
29,30,364,82 - 238 - 44,0.434555,0.571429,6145,1017 - 6.0,1519,369 - 4.1,4626,410 - 626 - 12 - 7.6,48,28 / 31,59,16 - 42 - 0 - 1,28:54,8,0,5

In [12]:
home_stats_df[['team_id','ranking']].to_csv('resources/nfl_stats_ranking.csv', index=False)