In [20]:
import pandas as pd 
from sqlalchemy import create_engine
from passwords import sql_password

In [21]:
rds_connection_string = f"postgres:{sql_password}@localhost:5432/nfl_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [22]:
home_stats_df = pd.read_sql_query('select * from all_stats', con=engine)
home_stats_df.head()

,team_id,total_first_downs,first_downs_rush_pass_penalty,third_down_conversions,fourth_down_conversions,total_offensive,offense_plays_avg,total_rushing,rushing_plays_avg,total_passing,passing_comp_att_int_avg,sacks,field_goals,touchdowns,touchdowns_rush_pass_returns_def,avg_possesion,turnover_ratio
0,1,381,136 - 211 - 34,80 / 202,17 / 25,6153,1083 - 5.7,2237,479 - 4.7,3916,387 - 575 - 13 - 7.1,48,23 / 30,49,22 - 27 - 0 - 0,29:03,0
1,2,366,86 - 243 - 37,97 / 221,15 / 26,5895,1078 - 5.5,1532,409 - 3.7,4363,408 - 628 - 11 - 7.4,29,38 / 40,41,13 - 27 - 0 - 1,30:41,3
2,3,327,166 - 142 - 19,101 / 207,12 / 19,5810,993 - 5.9,3071,555 - 5.5,2739,257 - 406 - 11 - 7.2,39,26 / 29,55,24 - 27 - 1 - 3,31:30,4
3,4,397,119 - 240 - 38,93 / 187,8 / 10,6343,1034 - 6.1,1723,411 - 4.2,4620,410 - 596 - 11 - 8.0,38,28 / 34,60,16 - 40 - 1 - 3,31:45,4
4,5,335,110 - 192 - 33,76 / 195,15 / 27,5592,993 - 5.6,1704,407 - 4.2,3888,373 - 550 - 16 - 7.5,29,29 / 36,38,19 - 16 - 0 - 3,30:59,1

In [23]:
working_df = home_stats_df
working_df['ranking_points'] = 0
columns = working_df.columns.to_list()
columns.remove('first_downs_rush_pass_penalty')
columns.remove('offense_plays_avg')
columns.remove('rushing_plays_avg')
columns.remove('passing_comp_att_int_avg')
columns.remove('touchdowns_rush_pass_returns_def')
columns.remove('ranking_points')

columns

['team_id',
 'total_first_downs',
 'third_down_conversions',
 'fourth_down_conversions',
 'total_offensive',
 'total_rushing',
 'total_passing',
 'sacks',
 'field_goals',
 'touchdowns',
 'avg_possesion',
 'turnover_ratio']

In [24]:
working_df = home_stats_df
third_down_pct = working_df['third_down_conversions'].to_list()
for item in third_down_pct:
    new_item = item.replace(' ','')
    new_item = new_item.split('/')
    third_down_pct[third_down_pct.index(item)] = float(new_item[0])/float(new_item[1])
third_down_pct
working_df['third_down_conversions'] = third_down_pct
working_df.head()

,team_id,total_first_downs,first_downs_rush_pass_penalty,third_down_conversions,fourth_down_conversions,total_offensive,offense_plays_avg,total_rushing,rushing_plays_avg,total_passing,passing_comp_att_int_avg,sacks,field_goals,touchdowns,touchdowns_rush_pass_returns_def,avg_possesion,turnover_ratio,ranking_points
0,1,381,136 - 211 - 34,0.396040,17 / 25,6153,1083 - 5.7,2237,479 - 4.7,3916,387 - 575 - 13 - 7.1,48,23 / 30,49,22 - 27 - 0 - 0,29:03,0,0
1,2,366,86 - 243 - 37,0.438914,15 / 26,5895,1078 - 5.5,1532,409 - 3.7,4363,408 - 628 - 11 - 7.4,29,38 / 40,41,13 - 27 - 0 - 1,30:41,3,0
2,3,327,166 - 142 - 19,0.487923,12 / 19,5810,993 - 5.9,3071,555 - 5.5,2739,257 - 406 - 11 - 7.2,39,26 / 29,55,24 - 27 - 1 - 3,31:30,4,0
3,4,397,119 - 240 - 38,0.497326,8 / 10,6343,1034 - 6.1,1723,411 - 4.2,4620,410 - 596 - 11 - 8.0,38,28 / 34,60,16 - 40 - 1 - 3,31:45,4,0
4,5,335,110 - 192 - 33,0.389744,15 / 27,5592,993 - 5.6,1704,407 - 4.2,3888,373 - 550 - 16 - 7.5,29,29 / 36,38,19 - 16 - 0 - 3,30:59,1,0

In [ ]:
working_df = home_stats_df
fourth_down_pct = working_df['fourth_down_conversions'].to_list()
for item in fourth_down_pct:
    new_item = item.replace(' ','')
    new_item = new_item.split('/')
    fourth_down_pct[fourth_down_pct.index(item)] = float(new_item[0])/float(new_item[1])
fourth_down_pct
working_df['fourth_down_conversions'] = fourth_down_pct
working_df.head()

In [25]:
for column in columns:
    working_df = working_df.sort_values(by=column)
    working_df = working_df.reset_index(drop=True)
    working_df['ranking_points'] = working_df['ranking_points'] + working_df.index

In [26]:
working_df.head()

,team_id,total_first_downs,first_downs_rush_pass_penalty,third_down_conversions,fourth_down_conversions,total_offensive,offense_plays_avg,total_rushing,rushing_plays_avg,total_passing,passing_comp_att_int_avg,sacks,field_goals,touchdowns,touchdowns_rush_pass_returns_def,avg_possesion,turnover_ratio,ranking_points
0,21,383,139 - 212 - 32,0.408840,13 / 23,6292,1023 - 6.2,2283,468 - 4.9,4009,349 - 516 - 13 - 8.3,23,15 / 22,55,20 - 35 - 0 - 0,30:02,-1,187
1,26,336,114 - 177 - 45,0.372727,15 / 35,5354,1066 - 5.0,2027,403 - 5.0,3327,334 - 598 - 20 - 6.2,49,14 / 19,42,16 - 22 - 1 - 3,29:15,-10,140
2,28,350,101 - 217 - 32,0.390863,6 / 15,5922,1046 - 5.7,1889,437 - 4.3,4033,371 - 570 - 17 - 7.6,30,22 / 26,45,19 - 25 - 0 - 1,31:23,-11,185
3,17,359,121 - 206 - 32,0.459596,16 / 21,6133,1036 - 5.9,1916,457 - 4.2,4217,369 - 551 - 10 - 8.0,21,33 / 35,48,20 - 28 - 0 - 0,31:04,-11,215
4,10,308,94 - 176 - 38,0.386792,4 / 15,5369,1030 - 5.2,1918,442 - 4.3,3451,317 - 556 - 23 - 6.6,42,28 / 35,35,13 - 21 - 1 - 0,28:58,-16,132

In [27]:
working_df = working_df.sort_values(by='ranking_points',ascending=False)
working_df = working_df.reset_index(drop=True)
working_df['ranking'] = working_df.index + 1
working_df = working_df.sort_values(by='team_id')
home_stats_df['ranking'] = working_df['ranking']

In [28]:
working_df.head()

,team_id,total_first_downs,first_downs_rush_pass_penalty,third_down_conversions,fourth_down_conversions,total_offensive,offense_plays_avg,total_rushing,rushing_plays_avg,total_passing,passing_comp_att_int_avg,sacks,field_goals,touchdowns,touchdowns_rush_pass_returns_def,avg_possesion,turnover_ratio,ranking_points,ranking
13,1,381,136 - 211 - 34,0.396040,17 / 25,6153,1083 - 5.7,2237,479 - 4.7,3916,387 - 575 - 13 - 7.1,48,23 / 30,49,22 - 27 - 0 - 0,29:03,0,202,14
15,2,366,86 - 243 - 37,0.438914,15 / 26,5895,1078 - 5.5,1532,409 - 3.7,4363,408 - 628 - 11 - 7.4,29,38 / 40,41,13 - 27 - 0 - 1,30:41,3,189,16
14,3,327,166 - 142 - 19,0.487923,12 / 19,5810,993 - 5.9,3071,555 - 5.5,2739,257 - 406 - 11 - 7.2,39,26 / 29,55,24 - 27 - 1 - 3,31:30,4,194,15
1,4,397,119 - 240 - 38,0.497326,8 / 10,6343,1034 - 6.1,1723,411 - 4.2,4620,410 - 596 - 11 - 8.0,38,28 / 34,60,16 - 40 - 1 - 3,31:45,4,274,2
22,5,335,110 - 192 - 33,0.389744,15 / 27,5592,993 - 5.6,1704,407 - 4.2,3888,373 - 550 - 16 - 7.5,29,29 / 36,38,19 - 16 - 0 - 3,30:59,1,143,23

In [29]:
home_stats_df.sort_values(by='ranking').head()

,team_id,total_first_downs,first_downs_rush_pass_penalty,third_down_conversions,fourth_down_conversions,total_offensive,offense_plays_avg,total_rushing,rushing_plays_avg,total_passing,passing_comp_att_int_avg,sacks,field_goals,touchdowns,touchdowns_rush_pass_returns_def,avg_possesion,turnover_ratio,ranking_points,ranking
0,1,381,136 - 211 - 34,0.396040,17 / 25,6153,1083 - 5.7,2237,479 - 4.7,3916,387 - 575 - 13 - 7.1,48,23 / 30,49,22 - 27 - 0 - 0,29:03,0,0,1
1,2,366,86 - 243 - 37,0.438914,15 / 26,5895,1078 - 5.5,1532,409 - 3.7,4363,408 - 628 - 11 - 7.4,29,38 / 40,41,13 - 27 - 0 - 1,30:41,3,0,2
2,3,327,166 - 142 - 19,0.487923,12 / 19,5810,993 - 5.9,3071,555 - 5.5,2739,257 - 406 - 11 - 7.2,39,26 / 29,55,24 - 27 - 1 - 3,31:30,4,0,3
3,4,397,119 - 240 - 38,0.497326,8 / 10,6343,1034 - 6.1,1723,411 - 4.2,4620,410 - 596 - 11 - 8.0,38,28 / 34,60,16 - 40 - 1 - 3,31:45,4,0,4
4,5,335,110 - 192 - 33,0.389744,15 / 27,5592,993 - 5.6,1704,407 - 4.2,3888,373 - 550 - 16 - 7.5,29,29 / 36,38,19 - 16 - 0 - 3,30:59,1,0,5