In [1]:
import pandas as pd 
from sqlalchemy import create_engine
from passwords import sql_password

In [2]:
teams_df = pd.read_csv('resources/nfl_teams.csv')
teams_df.head()

   team_id          team_name
0        1  Arizona Cardinals
1        2    Atlanta Falcons
2        3   Baltimore Ravens
3        4      Buffalo Bills
4        5  Carolina Panthers

In [3]:
all_teams_df = pd.read_csv('resources/all_teams_stats.csv')
all_teams_df.head()

,team_id,total_first_downs,first_downs_rush_pass_penalty,third_down_conversions,fourth_down_conversions,total_offensive,offense_plays_avg,total_rushing,rushing_plays_avg,total_passing,passing_comp_att_int_avg,sacks,field_goals,touchdowns,touchdowns_rush_pass_returns_def,avg_possesion,turnover_ratio
0,1,381,136 - 211 - 34,80 / 202,17 / 25,6153,1083 - 5.7,2237,479 - 4.7,3916,387 - 575 - 13 - 7.1,48,23 / 30,49,22 - 27 - 0 - 0,29:03,0
1,2,366,86 - 243 - 37,97 / 221,15 / 26,5895,1078 - 5.5,1532,409 - 3.7,4363,408 - 628 - 11 - 7.4,29,38 / 40,41,13 - 27 - 0 - 1,30:41,3
2,3,327,166 - 142 - 19,101 / 207,12 / 19,5810,993 - 5.9,3071,555 - 5.5,2739,257 - 406 - 11 - 7.2,39,26 / 29,55,24 - 27 - 1 - 3,31:30,4
3,4,397,119 - 240 - 38,93 / 187,8 / 10,6343,1034 - 6.1,1723,411 - 4.2,4620,410 - 596 - 11 - 8.0,38,28 / 34,60,16 - 40 - 1 - 3,31:45,4
4,5,335,110 - 192 - 33,76 / 195,15 / 27,5592,993 - 5.6,1704,407 - 4.2,3888,373 - 550 - 16 - 7.5,29,29 / 36,38,19 - 16 - 0 - 3,30:59,1

In [4]:
allowed_all_teams_df = pd.read_csv('resources/allowed_all_teams_stats.csv')
allowed_all_teams_df.head()

,team_id,allowed_total_first_downs,allowed_first_downs_rush_pass_penalty,allowed_third_down_conversions,allowed_fourth_down_conversions,allowed_total_offensive,allowed_offense_plays_avg,allowed_total_rushing,allowed_rushing_plays_avg,allowed_total_passing,allowed_passing_comp_att_int_avg,allowed_sacks,allowed_field_goals,allowed_touchdowns,allowed_touchdowns_rush_pass_returns_def,allowed_avg_possesion,allowed_turnover_ratio
0,1,363,118 - 207 - 38,80 / 202,14 / 21,5631,1054 - 5.3,2008,436 - 4.6,3623,365 - 570 - 11 - 6.9,29,25 / 30,42,13 - 26 - 0 - 3,31:32,0
1,2,367,97 - 239 - 31,80 / 195,10 / 23,6374,1034 - 6.2,1677,380 - 4.4,4697,425 - 625 - 12 - 7.9,41,24 / 28,49,15 - 34 - 0 - 0,29:18,-3
2,3,347,96 - 213 - 38,65 / 191,16 / 35,5276,1017 - 5.2,1740,382 - 4.6,3536,380 - 596 - 10 - 6.4,32,16 / 24,37,12 - 22 - 0 - 3,28:47,-4
3,4,351,125 - 199 - 27,76 / 191,11 / 19,5640,1025 - 5.5,1914,414 - 4.6,3726,369 - 573 - 15 - 6.9,27,23 / 25,44,21 - 23 - 0 - 0,28:14,-4
4,5,360,114 - 211 - 35,98 / 199,6 / 10,5761,1022 - 5.6,1936,408 - 4.7,3825,398 - 585 - 7 - 6.9,36,29 / 31,46,17 - 28 - 1 - 0,29:00,-1

In [5]:
nfl_stats_ranking_df = pd.read_csv('resources/nfl_stats_ranking.csv')
nfl_stats_ranking_df.head()

   team_id  ranking
0        1       12
1        2       15
2        3       13
3        4        1
4        5       23

In [6]:
rds_connection_string = f"postgres:{sql_password}@localhost:5432/nfl_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [7]:
engine.table_names()

['all_stats',
 'allowed_all_stats',
 'teams',
 'pro_fb_net_rankings',
 'nfl_stats_rankings']

In [8]:
all_teams_df.to_sql(name='all_stats', con=engine, if_exists='append',index=False)

In [9]:
allowed_all_teams_df.to_sql(name='allowed_all_stats', con=engine, if_exists='append',index=False)

In [10]:
teams_df.to_sql(name='teams', con=engine, if_exists='append',index=False)

In [11]:
nfl_stats_ranking_df.to_sql(name='nfl_stats_rankings', con=engine, if_exists='append', index=False)

In [12]:
pd.read_sql_query('select * from all_stats', con=engine).head()

,team_id,total_first_downs,first_downs_rush_pass_penalty,third_down_conversions,fourth_down_conversions,total_offensive,offense_plays_avg,total_rushing,rushing_plays_avg,total_passing,passing_comp_att_int_avg,sacks,field_goals,touchdowns,touchdowns_rush_pass_returns_def,avg_possesion,turnover_ratio
0,1,381,136 - 211 - 34,80 / 202,17 / 25,6153,1083 - 5.7,2237,479 - 4.7,3916,387 - 575 - 13 - 7.1,48,23 / 30,49,22 - 27 - 0 - 0,29:03,0
1,2,366,86 - 243 - 37,97 / 221,15 / 26,5895,1078 - 5.5,1532,409 - 3.7,4363,408 - 628 - 11 - 7.4,29,38 / 40,41,13 - 27 - 0 - 1,30:41,3
2,3,327,166 - 142 - 19,101 / 207,12 / 19,5810,993 - 5.9,3071,555 - 5.5,2739,257 - 406 - 11 - 7.2,39,26 / 29,55,24 - 27 - 1 - 3,31:30,4
3,4,397,119 - 240 - 38,93 / 187,8 / 10,6343,1034 - 6.1,1723,411 - 4.2,4620,410 - 596 - 11 - 8.0,38,28 / 34,60,16 - 40 - 1 - 3,31:45,4
4,5,335,110 - 192 - 33,76 / 195,15 / 27,5592,993 - 5.6,1704,407 - 4.2,3888,373 - 550 - 16 - 7.5,29,29 / 36,38,19 - 16 - 0 - 3,30:59,1

In [13]:
pd.read_sql_query('select * from allowed_all_stats', con=engine).head()

,team_id,allowed_total_first_downs,allowed_first_downs_rush_pass_penalty,allowed_third_down_conversions,allowed_fourth_down_conversions,allowed_total_offensive,allowed_offense_plays_avg,allowed_total_rushing,allowed_rushing_plays_avg,allowed_total_passing,allowed_passing_comp_att_int_avg,allowed_sacks,allowed_field_goals,allowed_touchdowns,allowed_touchdowns_rush_pass_returns_def,allowed_avg_possesion,allowed_turnover_ratio
0,1,363,118 - 207 - 38,80 / 202,14 / 21,5631,1054 - 5.3,2008,436 - 4.6,3623,365 - 570 - 11 - 6.9,29,25 / 30,42,13 - 26 - 0 - 3,31:32,0
1,2,367,97 - 239 - 31,80 / 195,10 / 23,6374,1034 - 6.2,1677,380 - 4.4,4697,425 - 625 - 12 - 7.9,41,24 / 28,49,15 - 34 - 0 - 0,29:18,-3
2,3,347,96 - 213 - 38,65 / 191,16 / 35,5276,1017 - 5.2,1740,382 - 4.6,3536,380 - 596 - 10 - 6.4,32,16 / 24,37,12 - 22 - 0 - 3,28:47,-4
3,4,351,125 - 199 - 27,76 / 191,11 / 19,5640,1025 - 5.5,1914,414 - 4.6,3726,369 - 573 - 15 - 6.9,27,23 / 25,44,21 - 23 - 0 - 0,28:14,-4
4,5,360,114 - 211 - 35,98 / 199,6 / 10,5761,1022 - 5.6,1936,408 - 4.7,3825,398 - 585 - 7 - 6.9,36,29 / 31,46,17 - 28 - 1 - 0,29:00,-1

In [14]:
pd.read_sql_query('select * from teams', con=engine).head()

   team_id          team_name
0        1  Arizona Cardinals
1        2    Atlanta Falcons
2        3   Baltimore Ravens
3        4      Buffalo Bills
4        5  Carolina Panthers

In [15]:
pd.read_sql_query('select * from nfl_stats_rankings', con=engine).head()

   team_id  ranking
0        1       12
1        2       15
2        3       13
3        4        1
4        5       23